
<section class="hero container">
    <h2>Make your wedding a fairy tale wedding</h2>
    <p id="cmnt">Choose your destination, venue, decorators, caterers, your wedding dress and gift and make your marriage most talked about in the town at lowest price with us.</p>
    <a class="btn btn-alt" href="register.html">register now</a>
</section>
<div class="midSec">
<section class="grid">
    <section class="float">
        <h5>Venue</h5>
        <a href="venue.html"><h3>Book banquet hall</h3></a>
        <p>Kashmir to Kanyakumari, Rajasthan to Mizoram choose your dream place and venue</p>
    </section>
    <section class="float">
        <h5>Decorator/Wedding Planner</h5>
        <a href="decors.html"><h3>Book wedding planners</h3></a>
        <p>Make your your wedding most talked about wedding by making jaw dropping look and ambience</p>
    </section>
    <section class="float">
        <h5>Hair Stylist/Make-Up</h5>
        <a href="stylist.html"><h3>Book stylist/beautician</h3></a>
        <p>Marriage is once in a lifetime opportunity and experience, look like a princess</p>
    </section>
    <section class="float">
        <h5>Caterers</h5>
        <a href="caterers.html"><h3>Book Caterers</h3></a>
        <p>Make your choice, Its your wedding, eat and serve the well wishers with ultimate taste of foods.</p>
    </section>
</section>
</div>